*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-image: var(--backgroundGradient);
}

:root {
  --backgroundGradient: radial-gradient(circle at center, #0b3954, #11405c);
  --darkBlue: #0b3954;
  --darkBlueHover: #1c5271;
  --seaBlue: #087e8b;
  --lightBlue: #bfd7ea;
  --lightRed: #ff5a5f;
  --darkRed: #c81d25;
  --black: black;
  --white: whitesmoke;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: var(--darkBlue);
  background-color: var(--white);
  border: 1px solid var(--darkBlue);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  padding: 15px 30px;
  max-height: 66px;
  font-size: 2.5rem;
  border: 1px solid var(--white);
  border-radius: 12px;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.299);
  transition: border 0.3s, background-color 0.3s, color 0.3s;
}
.start-btn:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}
.start-btn:active {
  background-color: #082f45;
  box-shadow: inset 3px 5px 5px rgba(0, 0, 0, 0.452);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.264);
}

.info {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 15px 30px;
  color: var(--black);
  background-color: var(--lightBlue);
  border-radius: 12px;
  overflow: hidden;
}
.info-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 40px;
  font-size: 2rem;
  font-weight: bold;
}
.info-list {
  margin-bottom: 20px;
  padding: 10px 0;
  list-style-position: inside;
  list-style-type: square;
  font-size: 1.8rem;
  border-top: 1px solid var(--seaBlue);
  border-bottom: 1px solid var(--seaBlue);
}
.info-list-item {
  margin-bottom: 8px;
}
.info-list-item::marker {
  font-weight: bold;
}
.info-list-item span {
  font-weight: bold;
}
.info .buttons {
  display: flex;
  justify-content: flex-end;
}
.info .buttons button {
  text-align: center;
  font-weight: bold;
  color: var(--darkBlue);
  background-color: var(--white);
  border: 1px solid var(--darkBlue);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  padding: 7px 14px;
}
.info .buttons button:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}
.info .buttons button:active {
  background-color: #082f45;
  box-shadow: inset 3px 5px 5px rgba(0, 0, 0, 0.452);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.264);
}
.info .buttons .continue {
  color: var(--white);
  background-color: var(--darkBlue);
}
.info .buttons .continue:hover {
  background-color: var(--darkBlueHover);
  border: 1px solid var(--darkBlueHover);
}
.info .buttons .quit {
  margin-right: 10px;
}

.quiz-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 15px 30px;
  color: var(--black);
  background-color: var(--lightBlue);
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
}
.quiz-box header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 40px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  background-color: var(--lightBlue);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.173);
  overflow: hidden;
}
.quiz-box header .timer {
  display: flex;
  align-items: center;
}
.quiz-box header .timer-sec {
  margin-left: 10px;
}
.quiz-box .section {
  padding: 15px 30px;
}
@media only screen and (max-width: 356px) {
  .start-btn {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 665px) {
  .info-list {
    font-size: 1.4rem;
  }
  .info .buttons button {
    padding: 5px 10px;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=main.css.map */