*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-image: var(--backgroundGradient);
}

:root {
  --backgroundGradient: radial-gradient(circle at center, #0b3954, #11405c);
  --darkBlue: #0b3954;
  --darkBlueHover: #1c5271;
  --seaBlue: #087e8b;
  --lightBlue: #bfd7ea;
  --lightRed: #ff5a5f;
  --darkRed: #c81d25;
  --black: black;
  --white: whitesmoke;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  5% {
    transform: scale(1.05);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.25);
  }
  30% {
    transform: scale(1.3);
  }
  35% {
    transform: scale(1.35);
  }
  40% {
    transform: scale(1.4);
  }
  45% {
    transform: scale(1.45);
  }
  50% {
    transform: scale(1.5);
  }
  55% {
    transform: scale(1.55);
  }
  60% {
    transform: scale(1.6);
  }
  65% {
    transform: scale(1.65);
  }
  70% {
    transform: scale(1.7);
  }
  75% {
    transform: scale(1.75);
  }
  80% {
    transform: scale(1.8);
  }
  85% {
    transform: scale(1.85);
  }
  90% {
    transform: scale(1.9);
    opacity: 0;
  }
  95% {
    transform: scale(1.95);
    opacity: 0;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  5% {
    transform: scale(1.05);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.25);
  }
  30% {
    transform: scale(1.3);
  }
  35% {
    transform: scale(1.35);
  }
  40% {
    transform: scale(1.4);
  }
  45% {
    transform: scale(1.45);
  }
  50% {
    transform: scale(1.5);
  }
  55% {
    transform: scale(1.55);
  }
  60% {
    transform: scale(1.6);
  }
  65% {
    transform: scale(1.65);
  }
  70% {
    transform: scale(1.7);
  }
  75% {
    transform: scale(1.75);
  }
  80% {
    transform: scale(1.8);
  }
  85% {
    transform: scale(1.85);
  }
  90% {
    transform: scale(1.9);
    opacity: 0;
  }
  95% {
    transform: scale(1.95);
    opacity: 0;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: var(--darkBlue);
  background-color: var(--white);
  border: 1px solid var(--darkBlue);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  padding: 15px 30px;
  max-height: 66px;
  font-size: 2.5rem;
  border: 1px solid var(--white);
  border-radius: 12px;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.299);
  transition: border 0.3s, background-color 0.3s, color 0.3s;
}
.start-btn:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}
.start-btn:active {
  background-color: #082f45;
  box-shadow: inset 3px 5px 5px rgba(0, 0, 0, 0.452);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.264);
}
.start-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 12px;
}
.start-btn:hover::before {
  -webkit-animation: pulse 1.5s ease-in-out;
          animation: pulse 1.5s ease-in-out;
}

.info {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 15px 30px;
  color: var(--black);
  background-color: var(--lightBlue);
  border-radius: 12px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.468);
  height: 450px;
}
.info-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
  font-size: 2rem;
}
.info-list {
  margin-bottom: 20px;
  padding: 10px 0;
  list-style-position: inside;
  list-style-type: square;
  font-size: 1.8rem;
  border-top: 1px solid var(--seaBlue);
  border-bottom: 1px solid var(--seaBlue);
}
.info-list-item {
  margin-bottom: 8px;
}
.info-list-item::marker {
  font-weight: bold;
}
.info-list-item span {
  font-weight: bold;
}
.info .buttons {
  display: flex;
  justify-content: flex-end;
}
.info .buttons button {
  text-align: center;
  font-weight: bold;
  color: var(--darkBlue);
  background-color: var(--white);
  border: 1px solid var(--darkBlue);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  padding: 7px 14px;
}
.info .buttons button:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}
.info .buttons button:active {
  background-color: #082f45;
  box-shadow: inset 3px 5px 5px rgba(0, 0, 0, 0.452);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.264);
}
.info .buttons .continue {
  color: var(--white);
  background-color: var(--darkBlue);
}
.info .buttons .continue:hover {
  background-color: var(--darkBlueHover);
  border: 1px solid var(--darkBlueHover);
}
.info .buttons .quit {
  margin-right: 10px;
}

.quiz-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 15px 30px;
  color: var(--black);
  background-color: var(--lightBlue);
  border-radius: 12px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.468);
  padding: 0;
  height: 450px;
}
.quiz-box header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  height: 60px;
  font-size: 1.6rem;
  background-color: var(--seaBlue);
  border-radius: 6px 6px 0 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.273);
  overflow: hidden;
  z-index: 99;
}
.quiz-box header .title {
  font-weight: bold;
  font-size: 2rem;
}
.quiz-box header .timer {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  background-color: var(--lightBlue);
  border-radius: 6px;
}
.quiz-box header .timer-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.quiz-box header .timer-sec {
  margin-left: 10px;
  padding: 3px 8px;
  text-align: center;
  color: var(--lightBlue);
  background-color: var(--darkBlue);
  border-radius: 4px;
}
.quiz-box section {
  margin-bottom: 5px;
  padding: 10px 30px;
}
.quiz-box section .question-text .question {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.8rem;
}
.quiz-box section .option-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quiz-box section .option-list .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 20px;
  height: 50px;
  background-color: var(--white);
  border-radius: 5px;
}
.quiz-box section .option-list .option .icon {
  cursor: pointer;
}
.quiz-box section .option-list .option .cross {
  padding: 2px 8px;
  background-color: rgba(200, 29, 37, 0.2);
  border: 1px solid var(--darkRed);
  border-radius: 50%;
}
.quiz-box section .option-list .option .cross i {
  color: var(--darkRed);
}
.quiz-box section .option-list .option .check {
  padding: 2px 5px;
  background-color: rgba(8, 126, 139, 0.2);
  border: 1px solid var(--seaBlue);
  border-radius: 50%;
}
.quiz-box section .option-list .option .check i {
  color: var(--seaBlue);
}
.quiz-box footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.quiz-box footer button {
  text-align: center;
  font-weight: bold;
  color: var(--darkBlue);
  background-color: var(--white);
  border: 1px solid var(--darkBlue);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  padding: 7px 14px;
}
.quiz-box footer button:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}
.quiz-box footer button:active {
  background-color: #082f45;
  box-shadow: inset 3px 5px 5px rgba(0, 0, 0, 0.452);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.264);
}

@media only screen and (max-width: 356px) {
  .start-btn {
    font-size: 2rem;
  }
  .quiz-box section .question-text .question {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 475px) {
  .quiz-box {
    width: 300px;
  }
}
@media only screen and (max-width: 665px) {
  .info-list {
    font-size: 1.4rem;
  }
  .info .buttons button {
    padding: 5px 10px;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=main.css.map */