@use 'reset' as *;
@use 'colors' as *;
@use 'mixins' as *;
@use 'animations' as *;

.start {
	&-btn {
		@include bodyCenter;
		@include button;
		padding: 15px 30px;
		max-height: 66px;
		font-size: 2.5rem;
		border: 1px solid var(--white);
		border-radius: 8px;
		box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.399);
		transition: border 0.3s, background-color 0.3s, color 0.3s;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border: 1px solid var(--white);
			border-radius: 12px;
		}

		&:hover::before {
			animation: pulse 1.5s ease-in-out forwards;
		}
	}
}

.info {
	@include bodyCenter;
	@include box;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);

	&.activeInfo {
		@include active;
	}

	&-title {
		@include titleHeader;
		font-weight: bold;
	}

	&-list {
		margin-bottom: 20px;
		padding: 10px 0;
		list-style-position: inside;
		list-style-type: square;
		font-size: 1.7rem;
		border-top: 1px solid var(--seaBlue);
		border-bottom: 1px solid var(--seaBlue);

		&-item {
			margin-bottom: 8px;

			&::marker {
				font-weight: bold;
			}

			span {
				font-weight: bold;
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: flex-end;

		button {
			@include button;
			padding: 7px 14px;
		}

		.continue {
			color: var(--white);
			background-color: var(--darkBlue);

			&:hover {
				background-color: var(--darkBlueHover);
				border: 1px solid var(--darkBlueHover);
			}
		}

		.quit {
			margin-right: 10px;
		}
	}
}

.quiz-box {
	position: relative;
	@include bodyCenter;
	@include box;
	padding: 0;
	height: 450px;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);

	&.activeQuiz {
		@include active;
	}

	header {
		@include titleHeader;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 20px;
		width: 100%;
		height: 70px;
		font-size: 1.6rem;
		background-color: var(--seaBlue);
		border-radius: 6px 6px 0 0;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.273);
		overflow: hidden;
		z-index: 99;

		.title {
			font-weight: bold;
			font-size: 2rem;
			letter-spacing: 0.5px;
		}

		.timer {
			display: flex;
			align-items: center;
			padding: 4px 10px;
			background-color: var(--lightBlue);
			border-radius: 6px;

			&-text {
				user-select: none;
			}

			&-sec {
				margin-left: 8px;
				padding: 1px 8px;
				text-align: center;
				color: (var(--lightBlue));
				background-color: var(--darkBlue);
				border-radius: 4px;
			}
		}
	}

	section {
		margin-bottom: 5px;
		padding: 10px 30px;

		.question-text {
			.question {
				margin-bottom: 20px;
				font-weight: bold;
				font-size: 1.8rem;
			}
		}

		.option-list {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.option {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
				padding: 5px 20px;
				height: 50px;
				background-color: var(--white);
				border: 1px solid #345c61;
				border-radius: 5px;
				cursor: pointer;
				transition: background-color 0.2s;

				&:hover {
					background-color: #345c6127;
				}

				&:active {
					background-color: #39616768;
					box-shadow: inset 3px 5px 10px rgba(0, 0, 0, 0.259);
					text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.172);
				}

				.icon {
					cursor: pointer;
				}

				.cross {
					padding: 2px 8px;
					background-color: rgb(200, 29, 37, 0.2);
					border: 1px solid var(--darkRed);
					border-radius: 50%;

					i {
						color: var(--darkRed);
					}
				}

				.check {
					padding: 2px 5px;
					background-color: rgba(8, 126, 139, 0.2);
					border: 1px solid var(--seaBlue);
					border-radius: 50%;

					i {
						color: var(--seaBlue);
					}
				}
			}
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		padding: 0 30px;
		width: 100%;

		span {
			font-weight: bold;
		}

		button {
			@include button;
			padding: 7px 14px;
		}
	}
}

.result-box {
	@include bodyCenter;
	@include box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;

		i {
			font-size: 6rem;
			color: var(--darkBlue);
		}
	}

	p {
		font-size: 1.8rem;
	}

	.result-text {
		font-weight: bold;
	}

	.score-text {
		margin-bottom: 20px;
	}

	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;

		button {
			@include button;
			padding: 7px 14px;
		}

		.replay {
			margin-left: 10px;
			color: var(--white);
			background-color: var(--darkBlue);

			&:hover {
				background-color: var(--darkBlueHover);
				border: 1px solid var(--darkBlueHover);
			}
		}
	}
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------

@media only screen and (max-width: 356px) {
	.start {
		&-btn {
			font-size: 2rem;
		}
	}

	.quiz-box {
		section {
			.question-text {
				.question {
					font-size: 1.6rem;
				}
			}
		}
	}
}

@media only screen and(max-width: 475px) {
	.quiz-box {
		width: 300px;
	}

	.result-box {
		width: 300px;

		p {
			font-size: 1.6rem;
		}

		.buttons {
			button {
				padding: 5px 10px;
				font-size: 1.4rem;
			}
		}
	}
}

@media only screen and (max-width: 580px) {
	.info {
		width: 300px;
	}

	.quiz-box {
		max-width: 300px;

		section {
			.question-text {
				.question {
					font-size: 1.6rem;
				}
			}
		}
	}
}

@media only screen and (max-width: 665px) {
	.info {
		&-list {
			font-size: 1.4rem;
		}

		.buttons {
			button {
				padding: 5px 10px;
				font-size: 1.4rem;
			}
		}
	}
}
